body{

	font-size: 15px;
	font-family: sans-serif;
	font-weight: bold;
	margin: 0;
}
h1{

	margin: 15px 39%;
	
}
h2{
	display: inline-block;
}
h3{
	margin: 15px 45%;
}
.header{

	border: 8px groove brown;
	margin: 5px 25px;
}
.entrada{

	max-width: 100px;
	margin:  1% 12%;
	max-height: 100px;
}
.juego{

	
	width: 150px;
	height: 150px;
	border: 8px groove brown;

}
.juegos{
	
	max-width: 150px;
	max-height: 150px;
	
}
.imgs{

	width: 150px;
	height: 150px;
}
.box{
	margin: .25% 10%;
	float: left;

}
.instrucciones {
	margin: 5px 25px;
	border: 8px groove brown;

}
#ganado {
	max-width:200px;
	position:relative;
	float:left;
	margin:1.25% 10%;
}
#perdido {
	max-width:200px;
	margin:1.25% 10%;
	

}
ul {
	max-width:500px;
	margin:16px;
}
.resultado {
	width: 125px;
	height: 25px;
	border: 8px groove brown;
	font-size: 25px;
	padding: 5px;
	text-align: center;
}
#Total{

	float:none;

}
